/*Imported font [work Noto+Sans] from google fonts,*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Lora', serif;
    color: #94989b; 
}

/*------Navbar-----*/
.navbar {
    display: flex;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 2px;
      background-image: linear-gradient(to right, black , blue);
}
.navbar-brand img {
    padding-left: 1rem;
    height: 4rem; 
}
.nav-link {
    color: #FEFEFE! important;   
}
.nav-link.active,
.nav-link:hover {
    color:#B93993! important;
}
.navbar-nav li {
   padding-right: .2rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}
.dropdown-menu {
    background-image: linear-gradient(to right, black , blue);
    border-color: none;
}
.dropdown-item {
    color: #fbfbfb;
    background-image: linear-gradient(to right, blue ,red);
}
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

/*-----End--Navbar-----*/

/*-----carousel-------*/
.carousel-caption {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.bg-caption {
    background-color: rgba(0, 0, 0, .4);
    color: #FEFEFE;
    border-radius: 1rem;
    border: 2px solid #FEFEFE; 
}

.carousel-caption h1 {
    font-size: 3.0rem;
}
/*-----End--carousel-------*/

/*-----Buttons-------*/
.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}

.btn-primary {
    background-color:#8a0256;
    color: #FEFEFE; 
    border: #B93993;  
}

.btn-primary:hover,
.btn-primary:focus{
      background-color: #B93993! important;
      border:  #B93993! important;
}

.dw-clubs {
    padding-bottom: 1rem;
}

.btn-success {
   background-color:#8a0256; 
   color: #FEFEFE; 
   border: #B93993; 
}

.btn-success:hover,
.btn-success:focus{
    background-color: #B93993! important;
    border:  #B93993! important;
}
/*-----End---Buttons-------*/
/*-----Four--Images-----*/
.card-four-image {
   padding-bottom: 10px;
}
.card {
    border: none;
    padding-bottom: 1rem;
}

.container container-dw {
    padding-right: 15px;
    padding-left: 15px;

    margin-right: auto;
    margin-left: auto;
}
/*-----End Four--Images-----*/


/*-----Happening-------*/

#happening h2,p {
    text-align: center;
    padding-top: 1px;
}
#happen h2,p {
     text-align: center;
     padding-top: 1rem;
}
/*-----End--Happening-------*/

/*------------Footers-------*/

footer {
background-image: linear-gradient(to right, blue , black);
color: #FEFEFE;
min-height: 150px;
margin: 0; 
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 7px;
    color: #FEFEFE;
    background-color: #8a0256;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
      background:  #B93993;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.logo-footer {
    float: right; 
}

hr {
    background-color: #FEFEFE;
}

.dw-copyright {
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

#footer-details {
    padding: 20px;
}

.footer-d_w {
    background-color: #B93993;
}
.footer-d_wa:hover {
    color:  #FEFEFE
    text-decoration: none;
}
.inline-block {
    display: inline-block;
    text-align: left;
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Lora', serif;
    color: #94989b;
    margin: 0;  
  }
}
