/*Imported font [work Noto+Sans] from google fonts,*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body,html {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Lora', serif;
    color: #94989b; 
}

/*--Navbar--*/
.navbar {
    display: flex;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 2px;
}
.navbar-brand img {
    padding-left: 1rem;
    height: 4rem; 
}
.nav-link {
    color: #fff! important;   
}
.nav-link.active,
.nav-link:hover {
    color:#B93993! important;
}
.navbar-nav li {
   padding-right: .2rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}
.navbar-toggler {
    color: #fff;
}
.dropdown-menu {   
    border-value: none;
}
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
/*--carousel--*/

.carousel-caption {
    
    top: 59%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    border: 2px solid #fafafa;
    background-color: rgba(0,0,0, .5);
    letter-spacing: 4px;
    text-align: center;
    border-radius: 1rem;

    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px; 
}
.carouselalert-container {
   
    left: 0;
    right: 0;
}
.carousel-inner {
      background-size: cover;
}
/*--End carousel--*/

/*--Buttons--*/
.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}

.btn-primary {
    background-color:#8a0256;
    color: #FEFEFE; 
    border: #B93993;  
}

.btn-primary:hover,
.btn-primary:focus{
      background-color: #B93993! important;
      border:  #B93992! important;
}

.dw-clubs {
    padding-bottom: 1rem;
}

.btn-success {
   background-color:#8a0256; 
   color: #FEFEFE; 
   border: #B93993; 
}

.btn-success:hover,
.btn-success:focus{
    background-color: #B93993! important;
    border:  #B93993! important;
}
/*--End---Buttons--*/

/*--Four--Images--*/

.four-image {
    height: 150px;
}
.img-responsive{
   width: 100%;
   padding-bottom: 1rem;
}
/*-----Happening-------*/

#happening h2,p {
    text-align: center;
    padding-top: 1px;
}
#happen h2,p {
     text-align: center;
     padding-top: 1rem;
}
/*-----End--Happening-------*/
.img-responsive{
   width: 100%;
   padding-bottom: 1rem;
   margin-bottom: 1rem;
}
.ten {
    padding: .5rem;
    border: 2px solid #010830
}
/*------------Footers-------*/

footer {
background-color: #041ee4;
color: #FEFEFE;
min-height: 120px;
margin: 0; 
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 7px;
    color: #FEFEFE;
    background-color: #8a0256;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
      background:  #B93993;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.logo-footer {
    float: right; 
}

hr {
    background-color: #FEFEFE;
}

.dw-copyright {
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

#footer-details {
    padding: 20px;
}

.footer-d_wa {
    color: #B93993;
}
.footer-d_wa:hover {
    color:  #FEFEFE;
    text-decoration: none;
}
.inline-block {
    display: inline-block;
    text-align: left;
}
.footeralert-container {
    position: absolute;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    font-family: 'Lora', serif;
    color: #94989b;
    margin: 0;  
  }
}
