/*Imported font [work Lora+Sans] from google fonts,*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body,html {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Lora', serif;
    color: #94989b; 
}

/*--Navbar--*/
.navbar {
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.navbar-brand img {
   padding-left: 1rem;
    height: 3rem;
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 50%;
    line-height: 7px;  
    
}
.nav-link {
    color: #fff! important;   
}
.nav-link.active,
.nav-link:hover {
    color:#B93993! important;
}
.navbar-nav li {
   padding-right: .2rem;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
	outline: none;
	box-shadow: none;
}
.navbar .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-toggler-icon {
	background: url('https://i.pinimg.com/736x/ee/c0/71/eec071442e9a1b8e017c5a7c1853b880.jpg') no-repeat center center;
	background-size: 100% 100%;
}
/*--carousel--*/

.carousel-caption {  
    top: 59%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    border: 2px solid #fafafa;
    background-color: rgba(0,0,0, .5);
    letter-spacing: 4px;
    text-align: center;
    border-radius: 1rem;

    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px; 
}
.carouselalert-container {
   
    left: 0;
    right: 0;
}
.carousel-inner {
      background-size: cover;
}

/*--Buttons--*/
.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}

.btn-primary {
    background-color:#8a0256;
    color: #FEFEFE; 
    border: #B93993;  
}

.btn-primary:hover,
.btn-primary:focus{
      background-color: #B93993! important;
      border:  #B93992! important;
}

.dw-clubs {
    padding-bottom: 1rem;
}

.btn-success {
   background-color:#8a0256; 
   color: #FEFEFE; 
   border: #B93993; 
}

.btn-success:hover,
.btn-success:focus{
    background-color: #B93993! important;
    border:  #B93993! important;
}
/*--Four--Images--*/

.img-responsive{
   width: 100%;
   padding-bottom: 1rem;
}
/*-----Happening-------*/

#happening h2,p {
    text-align: left;
    padding-top: 1px;
}
#happen h2,p {
     text-align: center;
     padding-top: 1rem;
}
.text-align-left {
    text-align: left;
}
/*--Different Clubs------*/
.go-clubs img {
    width: 100%;
    min-height: 20vh;
    padding-bottom: 2px;
}
.go-clubs {
    padding-bottom: 1rem;
}
/*--Fitness Page--*/
.title-fit {
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero-image {
    clear: both;
    background: url('../images/swim1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 70vh;*/
    height: 500px; 
    background-position: center;
}
.para-text {
    text-align: left;
    font-size: 1rem;
    width: 70%;
}
.title-head {
    text-align: left;
    text-transform: uppercase; 
    width: 70%;
}
.fitness-page {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.fitness-page img {
    width: 600px;
    height: 400px;
}
.hover:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1.3s;
}
/*--Footers--*/

footer {
background-color: #041ee4;
color: #FEFEFE;
min-height: 120px;
margin: 0; 
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 7px;
    color: #FEFEFE;
    background-color: #8a0256;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
      background:  #B93993;
}

.uppercase {
    text-transform: uppercase;
}
.logo-footer {
    float: right; 
    padding-left: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

hr {
    background-color: #FEFEFE;
}

.dw-copyright {
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

#footer-details {
    padding: 20px;
}

.footer-d_wa {
    color: #B93993;
}
.footer-d_wa:hover {
    color:  #FEFEFE;
    text-decoration: none;
}
.inline-block {
    display: inline-block;
    text-align: left;
}
.footeralert-container {
    position: absolute;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 1393px) {
  .different-clubs {
    width: 40%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 943px) {
  .different-clubs {
    width: 100%;
  }
}
@keyframes hero-image {
    from{
        transform: scale(1);
    } 
    to{
        transform: scale(1.1);
    }
}